{% extends "index.html" %} {% block content %}
<h1>{{ detail.winery }}</h1>
<br>
<h5><strong>Description : </strong><br>{{detail.description }}</h5>
<h5><strong>VARIETY : </strong>{{ detail.variety }}</h5>
<h5><strong>PRICE : </strong> Rs. {{ detail.price }}</h5>
<h5><strong>COUNTRY : </strong>{{ detail.country }} </h5>
<h5><strong>PROVINCE : </strong>{{ detail.province }}</h5> 
<h5><strong>REGION : </strong>{{ detail.region_1 }} / {{ detail.region_2 }} </h5> 
<h5><strong>POINTS : </strong>{{ detail.points }} </h5> 
<h5><strong>DESIGNATION : </strong>{{ detail.designation }}</h5>
<br>
<a href="{% url 'result' %}"><button type="button" class="btn btn-dark">Back</button></a>

{% endblock %}